header{
    text-align: center;
    top: 300px;
    background-color: rgba(14, 9, 17, 0.758);
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
   
}

h1, h2 {
    text-align: center;
    text-decoration: none;
}

main{
    padding: 13px 0;
    text-align: center;
}
ul{
    margin: 30px 0;
}
li{
    margin: 15px auto;
    padding: 10px 0;
    width: 30% ;
    background-color: gray;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
li:hover{
    width: 32%;
    border-radius: 10px;

}
a{
    font-size: large;
    text-align: center;
    text-decoration: none;
  
}
#ah{
    font-size: xx-large;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
footer{
text-align: center;
text-decoration: none;
background-color: rgba(14, 9, 17, 0.758);
}

footer img{
    width: 200px;
    margin-bottom: 15px;
}
